
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-vk:before { content: '\e801'; } /* '' */
.icon-call:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */